[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-arm64"]

[system-requirements]
libc = { family = "glibc", version = "2.34" }

[pypi-dependencies]
xdggs = { path = ".", editable = true }

[tasks]

[dependencies]
xarray = ">=2025.08.0"
cdshealpix = ">=0.7.1"
h3ronpy = ">=0.22.0"
lonboard = ">=0.9.3"
pyproj = ">=3.3"
matplotlib-base = ">=3.10.5"
arro3-core = ">=0.4.0"
pooch = ">=1.8.2"
healpix-geo = ">=0.0.8"

[feature.tests.dependencies]
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
h5netcdf = "*"
netcdf4 = "*"
hypothesis = "*"
geoarrow-pyarrow = "*"
shapely = ">=2.1.1,<3"
dask = ">=2025.7.0"

[feature.tests.tasks]
tests = "pytest -n auto --cov=xdggs"

[feature.nightly.pypi-options]
extra-index-urls = [
  "https://pypi.anaconda.org/scientific-python-nightly-wheels/simple",
]
[feature.nightly.pypi-dependencies]
xdggs = { path = ".", editable = true }
xarray = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
h3ronpy = { git = "git+https://github.com/keewis/h3ronpy.git", subdirectory = "h3ronpy", rev = "version" }
cdshealpix = { git = "git+https://github.com/cds-astro/cds-healpix-python.git" }
healpix-geo = { git = "git+https://github.com/eopf-dggs/healpix-geo.git" }
astropy = { git = "git+https://github.com/astropy/astropy.git" }

[feature.nightly.dependencies]
lonboard = ">=0.11.1"
pyproj = ">=3.7.2"
matplotlib-base = ">=3.10.5"
arro3-core = ">=0.6.1"
pooch = ">=1.8.2"
rust = ">=1.89.0"
python = "3.13.*"
pytest-reportlog = "*"

[feature.ci-py311.dependencies]
python = "3.11.*"

[feature.ci-py312.dependencies]
python = "3.12.*"

[feature.ci-py313.dependencies]
python = "3.13.*"

[feature.docs.dependencies]
python = "3.13.*"
sphinx = "*"
myst-nb = "*"
sphinx-book-theme = "*"
sphinx-autosummary-accessors = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-inline-tabs = "*"
sphinxcontrib-bibtex = "*"
h5netcdf = "*"
pooch = "*"
shapely = ">=2.1.1"
sphinx-autobuild = ">=2024.10.3"

[feature.docs.tasks]
build-docs = { cmd = "rm -rf generated/; python -m sphinx -b html -w warnings.log -W -Tn -j auto . _build", cwd = "docs" }
autobuild-docs = { cmd = "sphinx-autobuild -b html -w warnings.log -W -Tn -j auto . _build", cwd = "docs" }
build-docs-rtd = { cmd = "python -m sphinx -b html -W -T -j auto . $READTHEDOCS_OUTPUT/html", cwd = "docs" }

[feature.dev.dependencies]
python = "3.13.*"
ipython = "*"
black = "*"
isort = "*"
jupyterlab = "*"
jupyter-resource-usage = "*"
jupyterlab_code_formatter = "*"
python-build = ">=1.3.0,<2"
h3-py = ">=4.3.0,<5"
geopandas = ">=1.1.1,<2"
pyinstrument = ">=5.1.1,<6"
jupyterlab-myst = ">=2.4.2,<3"
h5netcdf = ">=1.7.3,<2"
zarr = ">=3.1.5,<4"

[environments]
nightly = { features = ["tests", "nightly"], no-default-feature = true }
ci-py311 = { features = ["tests", "ci-py311"] }
ci-py312 = { features = ["tests", "ci-py312"] }
ci-py313 = { features = ["tests", "ci-py313"] }
docs = { features = ["docs"] }
dev = { features = ["tests", "dev"] }
